<section class="section background">
    <div class="section__title">Background</div>
    <div class="section__content">
        <p>
            Minh-Phuc's currently working at <a href="https://github.com/viivue" target="_blank" class="underline-link">ViiVue
            Web Design Company</a> building things for the web with some
            awesome people. He studied Software Engineer at <a href="https://hcmue.edu.vn/en/" target="_blank"
                                                               class="underline-link">Ho Chi Minh University of
            Education</a>. He's
            also an alumnus of <a href="https://keyframe.vn/" target="_blank" class="underline-link">Keyframe</a>, where
            he gets his first knowledge about digital art, sketching, and C4D.
        </p>
        <p>
            When he's off the computer screen, he's probably on his Kindle screen 🤓, or immersing himself in the dream
            of being a polyglot.
        </p>

        <!-- {% include employment-status.html %} -->
    </div>
</section>
