<section class="section featured-projects">
    <div class="section__title">Featured Projects</div>
    <div class="section__content">

        <!-- Whack A Mole -->
        <div class="project">
            <figure class="project__pic">
                <a class="bmp-video" href="https://whack-beta.netlify.app/" target="_blank">
                    <div class="bmp-video-inner">
                        <img src="img/featured/whack.gif">
                    </div>
                </a>
            </figure>
            <figcaption class="project__caption">
                <div class="project__name">
                    <span>Whack A Mole</span>
                </div>
                <p>A noisy HTML5 game built with Phaser3. Artworks by Nhan Manip.</p>
            </figcaption>
        </div>

        <!-- Lipsum -->
        <div class="project">
            <figure class="project__pic">
                <a class="bmp-video" href="https://www.producthunt.com/posts/lipsum-generator" target="_blank">
                    <div class="bmp-video-inner">
                        <img src="img/featured/lipsum.jpg">
                    </div>
                </a>
            </figure>
            <figcaption class="project__caption">
                <div class="project__name">
                    <span>Lipsum Generator</span>
                </div>
                <p>Generate lorem ipsum dummy text in a drop of a hat. Over 1.5K users on Chrome Store. Available as a
                    web-app.</p>
            </figcaption>
        </div>

        <!-- Scroll Snooper -->
        <div class="project">
            <figure class="project__pic">
                <a class="bmp-video" href="https://scroll-snooper.netlify.app/" target="_blank">
                    <div class="bmp-video-inner">
                        <img src="img/featured/scroll-snooper.gif">
                    </div>
                </a>
            </figure>
            <figcaption class="project__caption">
                <div class="project__name">
                    <span>Scroll Snooper</span>
                </div>
                <p>Pure JavaScript API that goes snooping around elements while scrolling.</p>
            </figcaption>
        </div>


        <!-- Vero Asean -->
        <div class="project">
            <figure class="project__pic">
                <div class="bmp-video">
                    <div class="bmp-video-inner">
                        <video autoplay muted loop playsinline>
                            <source src="/img/featured/vero.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>
            </figure>
            <figcaption class="project__caption">
                <div class="project__name">
                    <span>Vero Asean</span>
                </div>
                <p>An energetic website built with GSAP, FullPageJS, sweet and blood.</p>
            </figcaption>
        </div>

        <!-- The Nest Dalat -->
        <div class="project">
            <figure class="project__pic">
                <div class="bmp-video">
                    <div class="bmp-video-inner">
                        <video autoplay muted loop playsinline>
                            <source src="/img/featured/thenestdalat.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>
            </figure>
            <figcaption class="project__caption">
                <div class="project__name">
                    <span>The Nest Dalat</span>
                </div>
                <p>A wonderful place deserved a wonderful website. The Nest Dalat was created with GSAP and a fantastic
                    plugin of it - Draggable.</p>
            </figcaption>
        </div>

        <!-- Yeebo -->
        <div class="project">
            <figure class="project__pic">
                <div class="bmp-video">
                    <div class="bmp-video-inner">
                        <video autoplay muted loop playsinline>
                            <source src="/img/featured/yeebo.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>
            </figure>
            <figcaption class="project__caption">
                <div class="project__name">
                    <span>Yeebo</span>
                </div>
                <p>It is not a simple task to implement BarbaJS with a WordPress site, but we've figured it out for
                    Yeebo's website.</p>
            </figcaption>
        </div>

    </div>
</section>
