<section class="section featured-projects">
    <div class="section__title">Featured Projects</div>
    <div class="section__content">

        <!-- Vero Asean -->
        <div class="project blistabloc">
            <figure class="project__pic">
                <a href="https://vero-asean.com/" target="_blank">
                    <div class="bmp-video">
                        <div class="bmp-video-inner">
                            <video autoplay muted loop playsinline>
                                <source src="/img/featured/vero.mp4" type="video/mp4">
                            </video>
                        </div>
                    </div>
                </a>
            </figure>
            <figcaption class="project__caption">
                <div class="project__name">
                    <a href="https://vero-asean.com/" target="_blank">Vero Asean</a>
                </div>
                <p>An energetic website built with GSAP, FullPageJS, sweet and blood.</p>
            </figcaption>
        </div>

        <!-- The Nest Dalat -->
        <div class="project blistabloc">
            <figure class="project__pic">
                <a href="https://blistabloc.com/" target="_blank">
                    <div class="bmp-video">
                        <div class="bmp-video-inner">
                            <video autoplay muted loop playsinline>
                                <source src="/img/featured/vero.mp4" type="video/mp4">
                            </video>
                        </div>
                    </div>
                </a>
            </figure>
            <figcaption class="project__caption">
                <div class="project__name">
                    <a href="https://www.thenestdalat.com/" target="_blank">The Nest Dalat</a>
                </div>
                <p>A wonderful place deserved a wonderful website. The Nest Dalat was created with GSAP and a fantastic
                    plugin of it - Draggable.</p>
            </figcaption>
        </div>

        <!-- Yeebo -->
        <div class="project blistabloc">
            <figure class="project__pic">
                <a href="https://www.yeebo.com.vn/" target="_blank">
                    <div class="bmp-video">
                        <div class="bmp-video-inner">
                            <video autoplay muted loop playsinline>
                                <source src="/img/featured/vero.mp4" type="video/mp4">
                            </video>
                        </div>
                    </div>
                </a>
            </figure>
            <figcaption class="project__caption">
                <div class="project__name">
                    <a href="https://www.yeebo.com.vn/" target="_blank">Yeebo</a>
                </div>
                <p>It is not a simple task to implement BarbaJS with a WordPress site, but we've figured it out for
                    Yeebo's website.</p>
            </figcaption>
        </div>

        <!-- Yeebo -->
        <div class="project blistabloc">
            <figure class="project__pic">
                <a href="https://www.enviecasa.com/" target="_blank">
                    <div class="bmp-video">
                        <div class="bmp-video-inner">
                            <video autoplay muted loop playsinline>
                                <source src="/img/featured/vero.mp4" type="video/mp4">
                            </video>
                        </div>
                    </div>
                </a>
            </figure>
            <figcaption class="project__caption">
                <div class="project__name">
                    <a href="https://www.enviecasa.com/" target="_blank">ENVIE Casa</a>
                </div>
                <p>An elegant and chill eCommerce site, you want a nice cup for your morning tea? Go ENVIE Casa!</p>
            </figcaption>
        </div>

    </div>
</section>
