<header class="intro">
  <h1 class="intro__hello">Xin chào, hi, こんにちは、你好
    <span class="emoji wave-hand animated"></span>
  </h1>

  <h2 class="intro__tagline">I'm
    <span class="name">Minh-Phuc Bui</span>, a JavaScript developer focused on web animations (and HTML5 game 🥳🎮).
  </h2>

  <h3 class="intro__contact">
    <span>Get in touch </span>
    <span class="emoji pointer"></span>
    <span>
      <a href="mailto:hiphucbui@gmail.com" target="_blank" class="highlight-link">hiphucbui@gmail.com</a>
    </span>
  </h3>
</header>
